<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariketa 1</title>
</head>

<body>

    <div id="app">
        <input v-model="produktuak" type="text" class="form-control">

        <button v-on:click="addToCart" class="btn btn-primary">+</button>
<ul>
    <li v-for="zeregina in zereginak">
<span v-text="zeregina.title"></span>
    </li>
</ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>