<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ariketa 1</title>
</head>

<body>

    <div id="app">
        <h1>Zerrenda: </h1>
        <input v-model="produktuak" type="text" class="form-control" @keyup.enter="addToCart">
        <button v-on:click="addToCart" class="btn btn-primary">Gehitu</button>

        <ul>
            <li v-for="(p, index) in produk">
                <button v-on:click="kendu(index)" class="btn btn-primary">-</button>
                <input type="checkbox" v-model="p.erosita" class="form-check-input" v-if="p.erosita">
                <span class="bi bi-square" @click="toggleCompleted(index)" v-else>
                </span>

                <span v-text="p.title"> {{ p.title }}</span>
                <span v-text="p.zenbakia">{{ p.zenbakia }}</span>
                <button v-on:click="gehitu(index)" class="btn btn-secondary">+</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>